<h1><%= @artist.name %></h1>

<% if @artist.image.present? %>
<%= image_tag @artist.image, :alt => @artist.name, :class => 'artist_feature' %>


<p><%= simple_format @artist.info %></p>


<div class="prev_albums">
  <!-- wanted to 'dig' to album images? also want to put tracks on back of images but dont know how to do that yet, not sure if this link around the image will work at all.  -->
  <% @artist.albums.each do |album| %>
  <%= link_to image_tag(album.image, :class => 'album_thumbnail'), album  %>
  <% end %>


</div>
<% end %>

<!-- <div class="controls">
  <%# link_to 'edit album', edit_album_path(@album) %>

  <!-- i think the below will make it only visible to admins? -->
  <!--<%# if @current_user.admin? %>
  <%# link_to 'delete album'album_path(@album), :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
  <%# end %>
</div>-->
