<% @favourite_artists.each do |artist| %>
<p><%= artist.name %></p>

<%= link_to 'Remove from Favourite Artists',
user_favourite_artist_destroy_path(@current_user, artist.id), :method => 'delete' %>
<% end %>
