<div class="fave-albums-container">

  <% @favourite_albums.each do |album| %>

    <div class="album-grid">



        <%= link_to image_tag(album.image, :alt => album.title, :class => 'album_thumbnail'), album %>

        <% if album.image.present? %>
        <p><%= album.title %></p>
          <%= link_to 'Remove from Collection',
          user_favourite_album_destroy_path(@current_user, album.id), :method => 'delete' %>
        <% end %>
    </div>
  <% end %>
