<div class="fave-albums-container">

  <% @favourite_albums.each do |album| %>
    <p><%= album.title %></p>

    <%= image_tag @album.image, :alt => @album.title, :class => 'album_thumbnail' %>
    <% if @album.image.present? %>

    <%= link_to 'Remove from Favourite Albums',
    user_favourite_album_destroy_path(@current_user, album.id), :method => 'delete' %>
  <% end %>
