<div class="fave-artists-container">


<% @favourite_artists.each do |artist| %>
  <p><%= artist.name %></p>

  <% if artist.image.present? %>
  <%= image_tag artist.image, :alt => artist.name, :class => 'artist_thumbnail' %>
  <% end %>

  <%= link_to 'Remove from Favourite Artists',
  user_favourite_artist_destroy_path(@current_user, artist.id), :method => 'delete' %>
<% end %>

</div>
