<div class="dashpage">



<h1>Welcome back <%= @user.username %></h1>

  <div class="fave-albums">
    <img class="fav-img" src="/assets/favrecords.jpg" /><br />
    <%= link_to 'My Vinyl Collection', user_favourite_albums_path(@user) %>
  </div>


  <div class="fave-artists">
      <img class="fav-img" src="/assets/guitarist.jpg" /><br />
      <%= link_to 'Favourite Artists', user_favourite_artists_path(@user)%>
  </div>


</div>
