<!-- user greeting - sits right under nav or possibly put it into right hand corner of nav? -->

<% if @current_user.nil? %>

<div class="logo-box">
  <div class="we-are">
    <h2>We are</h2>
  </div>

  <div class="audiophiles-logo">

    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 922.9 242.9" style="" xml:space="preserve">
    <style type="text/css">
    	.st0{fill:none;stroke:#000000;stroke-width:12;stroke-miterlimit:10;}
    </style>
    <g>
    	<path class="st0 iFilZmXA_0" d="M95.1,215.9l-4.8-42.1H65.7l-4.8,42.1H38.6L64,30.8h28.4l25.4,185.1H95.1z M68.6,148.5h18.7l-9-78h-0.6
    		L68.6,148.5z"></path>
    	<path class="st0 iFilZmXA_1" d="M200.7,174.4c0,29.1-13.2,44.2-34.7,44.2c-21,0-34.3-15.1-34.3-44.2V30.8h21.4v142.8
    		c0,13.5,4.8,18.5,12.6,18.5c7.8,0,12.6-5,12.6-18.5V30.8h22.3V174.4z"></path>
    	<path class="st0 iFilZmXA_2" d="M255.3,30.8c24,0,37,16.4,37,46.8v91.5c0,30.4-13,46.8-37,46.8h-32V30.8H255.3z M245.7,190h8.8
    		c10.7,0,15.6-7.1,15.6-22.7V79.5c0-15.6-4.8-22.7-15.6-22.7h-8.8V190z"></path>
    	<path class="st0 iFilZmXA_3" d="M314,215.9V30.8h22.3v185.1H314z"></path>
    	<path class="st0 iFilZmXA_4" d="M429.8,75v96.8c0,29.1-13.7,46.8-36,46.8c-22.3,0-36-17.7-36-46.8V75c0-29.1,13.7-46.8,36-46.8
    		C416.2,28.1,429.8,45.9,429.8,75z M380.2,75.2v96.3c0,13.8,4.8,21.2,13.7,21.2c8.8,0,13.7-7.4,13.7-21.2V75.2
    		c0-13.8-4.8-21.2-13.7-21.2C385.1,54.1,380.2,61.5,380.2,75.2z"></path>
    	<path class="st0 iFilZmXA_5" d="M483.7,30.8c24,0,37,16.4,37,46.8v14.8c0,30.4-13,46.8-37,46.8h-9.9v76.7h-22.3V30.8H483.7z M473.8,113.3h9
    		c10.7,0,15.6-7.1,15.6-22.7V79.5c0-15.6-4.8-22.7-15.6-22.7h-9V113.3z"></path>
    	<path class="st0 iFilZmXA_6" d="M585.8,215.9v-80.7h-26.5v80.7h-22.3V30.8h22.3v78h26.5v-78h22.3v185.1H585.8z"></path>
    	<path class="st0 iFilZmXA_7" d="M632.1,215.9V30.8h22.3v185.1H632.1z"></path>
    	<path class="st0 iFilZmXA_8" d="M737.9,189.5v26.4h-59.5V30.8h22.3v158.7H737.9z"></path>
    	<path class="st0 iFilZmXA_9" d="M774.4,56.7v52.4H807V135h-32.6v55h40.4v25.9h-62.7V30.8h62.7v25.9H774.4z"></path>
    	<path class="st0 iFilZmXA_10" d="M893.2,70.5v5.3l-21.4,2.6v-5.8c0-12.7-3.8-18.5-11.6-18.5c-6.5,0-11.1,4.5-11.1,15.1v4
    		c0,10.3,4.2,18.8,18.7,35.4c19.8,23,26.5,38.1,26.5,59.5v9c0,27.2-13.7,41.5-34.1,41.5c-20.6,0-34.5-15.1-34.5-42.3v-12.2l21.4-2.6
    		v12.7c0,12.4,4.6,18.5,12.6,18.5c6.7,0,12.2-4.5,12.2-17.7v-5.8c0-11.6-4.2-20.1-18.7-36.8c-19.8-23-26.5-38.1-26.5-58.2v-4.5
    		c0-27.2,12.6-41.5,33.2-41.5C880.6,28.1,893.2,43.2,893.2,70.5z"></path>
    </g>
    <style data-made-with="vivus-instant">.iFilZmXA_0{stroke-dasharray:733 735;stroke-dashoffset:734;animation:iFilZmXA_draw 2000ms linear 0ms forwards;}.iFilZmXA_1{stroke-dasharray:795 797;stroke-dashoffset:796;animation:iFilZmXA_draw 2000ms linear 100ms forwards;}.iFilZmXA_2{stroke-dasharray:778 780;stroke-dashoffset:779;animation:iFilZmXA_draw 2000ms linear 200ms forwards;}.iFilZmXA_3{stroke-dasharray:415 417;stroke-dashoffset:416;animation:iFilZmXA_draw 2000ms linear 300ms forwards;}.iFilZmXA_4{stroke-dasharray:767 769;stroke-dashoffset:768;animation:iFilZmXA_draw 2000ms linear 400ms forwards;}.iFilZmXA_5{stroke-dasharray:626 628;stroke-dashoffset:627;animation:iFilZmXA_draw 2000ms linear 500ms forwards;}.iFilZmXA_6{stroke-dasharray:830 832;stroke-dashoffset:831;animation:iFilZmXA_draw 2000ms linear 600ms forwards;}.iFilZmXA_7{stroke-dasharray:415 417;stroke-dashoffset:416;animation:iFilZmXA_draw 2000ms linear 700ms forwards;}.iFilZmXA_8{stroke-dasharray:490 492;stroke-dashoffset:491;animation:iFilZmXA_draw 2000ms linear 800ms forwards;}.iFilZmXA_9{stroke-dasharray:642 644;stroke-dashoffset:643;animation:iFilZmXA_draw 2000ms linear 900ms forwards;}.iFilZmXA_10{stroke-dasharray:658 660;stroke-dashoffset:659;animation:iFilZmXA_draw 2000ms linear 1000ms forwards;}@keyframes iFilZmXA_draw{100%{stroke-dashoffset:0;}}@keyframes iFilZmXA_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style></svg>


  </div>

  <div class="catch-line">
    <p>because music sounds better on vinyl</p>
  </div>

</div> <!--end of logo-box div-->

<div class="home-btns">

  <!-- <div class="btn-login"> -->
    <%= link_to 'Login', login_path %>
  <!-- </div> -->

  <!-- <div class="btn-signup"> -->
    <%= link_to 'Sign Up', new_user_path %>
  <!-- </div> -->
</div> <!--end of sign in up buttons div-->
<% end %>



<% if @current_user.present? %>
<h3>Welcome back <%= @current_user.username %></h3>


<!-- heading and tag line -->
<h1>Records Are Always a Sound Purchase</h1>
<p>Keep track of all your sick beats and favourite Artists!</p>
<% end %>
