@import url('https://fonts.googleapis.com/css?family=Yellowtail');

@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

//NOTE VARIABLES

$logoFont: 'Rock Salt', cursive;
$highfont: #4E826F;
$hoverfont: #6BB298;
$mainFont: 'Fjalla One', sans-serif;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: grey;
  background-image: url("records_hands.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: $mainFont;

}

body.pages-home.logged-in {
   background-image: image-url("records_hands.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

body.pages-home { //if user not logged in
  background-image: image-url("recordspinning.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

///////////////nav///////////////////
nav {
  display: block;
  text-align: left;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-color: rgb(211, 211, 211);
  border-bottom-width: 0.1px;
  padding-bottom: 0.8em;
  padding-top: 0.5em;

  .mini-logo {
    max-width: 8.5em;
  }

  a {
    padding: 0.4em;
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: $highfont;
    transition: 2s;
  }
} //end of nav

//////////////////landing page////////////////
.logo-box {
  padding-top: 3em;
  color: $highfont;
  font-family: $logoFont;

  .we-are {
  text-align: left;
  padding-left: 2vw;
  font-size: 2em;
  animation: moveInLeft 1s ease-out;

  }
  .audiophiles-logo {
    max-width: 90vw;
    max-height: 50vh;
    display: block;
    margin: 0 auto;
  }

  .catch-line {
    text-align: center;
    font-size: 2em;
    animation: moveInRight 1s ease-in;
  }
} //end of logo-box

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); //use x because we want it to move on the x-axis which is left to right across, we are making it -100 so it starts more left than page allows.
  }

  80% {
    transform: translateX(10px) //making words go a little passed their final position to the right.
  }

  100% {
    opacity: 1;
    transform: translate(0); //setting to zero has it find the position specified for it in its original css
  }
} //end of moveInLeft

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transfrom: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
} //end of moveInRight

.home-btns {
  text-align: center;
  margin-top: 2em;

  a:link,
  a:visited { //this makes sure the link looks the same before and after it is visted. pseudo class.

    text-decoration: none;
    color: $highfont;
    background-color: #fff;
    padding: 0.5em 2em;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: $mainFont;
    }

  .btn-login {
    margin-right: 1em;
  }

  .btn-signup {
    margin-left: 1em;
  }

  a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scaleX(1.4) scaleY(1.6);
  }

}//end of home-btns

////////////////////////HOME////////////////////////
.homepage {
  width: 90vw;
  margin-top: 13vh;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;

  p {
    color: $highfont;
  }

  .search-btn {
    padding: 0 0.8em;
    border: 2px solid grey;
    border-radius: 3px;
  }

  .search-input {
    border-radius: 3px;
  }
}

////////////////////////////DASH////////////////////////

.dashpage {
  @extend .homepage;
  display: inline-block;

  h1 {
    padding: 0.4em;
  }

  a {
    color: $highfont;
    text-decoration: none;
    text-align: center;
    margin-top: 2em;
    padding: 2em;
    font-size: 1.8em;
  }

  a:hover {
    color: #315246;
    transition: 0.5s ease-in;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .fave-albums, .fave-artists {
    text-align: center;
    display: inline-block;
    animation: favesMoveIn 1s ease-in;

    img {
      width: 30vw;
      padding: 0.8em;
      border-radius: 500px;
    }
  }

@keyframes favesMoveIn {
  0% {
    opacity: 0;
    transform: translateY(100px); //use x because we want it to move on the x-axis which is left to right across, we are making it -100 so it starts more left than page allows.
  }

  80% {
    transform: translateY(-10px) //making words go a little passed their final position to the right.
  }

  100% {
    opacity: 1;
    transform: translate(0); //setting to zero has it find the position specified for it in its original css
  }
} //end of favesMoveIn

} //end of dashpage

////////////////LOGIN PAGE///////////////
.login-page {
  width: 450px;
  background-color: rgba(178, 255, 227, 0.6);
  text-align: center;
  display: block;
  padding: 3em;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: 20vh;
  border: 2px solid white;
  animation: loginMoveIn 1s ease-in;

  h1 {
    padding-bottom: 0.8em;
    text-align: center;
  }
  .inner-form {
    max-width: 40%;
    text-align: center;
  }

  .inner-signup {
    text-align: center;
  }

  .input-field {
    border: 2px solid grey;
    border-radius: 3px;
    max-width: 110%;
  }

  .email-field {
    @extend .input-field;
    margin-left: 29px;
    }

  .submit-btn {
    padding: 0.2em 1em;
    border-radius: 3px;
  }

  .record-icon {
    max-width: 6vw;
  }

} //end of loginpage

@keyframes loginMoveIn {
  0% {
  opacity: 0;
  transform: rotateY(180deg); //use x because we want it to move on the x-axis which is left to right across, we are making it -100 so it starts more left than page allows.
  }

  80% {
  transform: translateY(-10px) //making words go a little passed their final position to the right.
  }

  100% {
  opacity: 1;
  transform: translate(0); //setting to zero has it find the position specified for it in its original css
  }
} //end of favesMoveIn
//////////////FORMS//////////////

.album-artist-form {
  padding: 1em 0 0 2em;
}

.form-group {
  margin: 0 auto;
  max-width: 80vw;
  padding-bottom: 2em;

}

.teensy {
  width: 12vw;
  border-radius: 3px;
}


////////ARTISTS INDEX//////////////

.fave-artists-container {
  text-align: center;

  a {
    text-decoration: none;
    color: $highfont;
  }

  a:hover {
    color: #6BB298;
  }
}

.fave-albums-container{
  @extend .fave-artists-container;
}

.artist-grid {
  display:inline-block;
  width: 24vw;

  .artist_thumbnail {
    border-radius: 10px;
  }

}

.album-grid {
  @extend .artist-grid;
}

//////ALBUMS INDEX STYLES/////
.index-albums-container {
  text-align: center;
}

.index-album-grid {
  display:inline-block;
  width: 24vw;

  ul {
    list-style-type: none;
  }

  a {
    color: $highfont;
    text-decoration: none;
  }
  a:hover {
    color: #6BB298;
  }
} //end of index album

.index-artists-container {
    text-align: center;
}

.index-artist-grid {
  display:inline-block;
  width: 24vw;

  ul {
    list-style-type: none;
  }

  .artist_thumbnail {
    border-radius: 10px;
  }

  a {
    color: $highfont;
    text-decoration: none;
  }

  a:hover {
    color: #6BB298;
  }
} //end of index album

/////////////SEARCH RESULTS PAGE////////////
.result-page {
  padding: 1em;

  h1 {
    padding-bottom: 1em;
  }
}

.artist-result {
    text-align: center;

  ul {
      list-style-type: none;
  }


  a {
    text-decoration: none;
    color: $highfont;
    font-size: 2em;

  }

  a:hover {
    color: $hoverfont;
  }

  img {
    border-radius: 5px;
  }
}

///////IMAGES CSS ///////

//NOTE album and artists feature images
.album_feature {
  max-width: 50vw;
  max-height: 50vh;
}

.artist_feature {
  max-width: 50vw;
  max-height: 50vh;

}

// NOTE artist and album thumnails for indexes
.artist_thumbnail {
  width: 20vw;
  height: 20vh;
}

.album_thumbnail {
  max-width: 20vw;
  max-height: 20 vh;
}
